
/*============================
=          Global            =
============================*/

html {
	box-sizing: border-box;
	font-size: 62.5%;
	height: 100%;
	font-family: $primary-font;
}


/* Default img style*/


img {
	max-width: 100%;
	height: auto;
}


/* Set box-sizing globally to handle padding and border widths*/
*,
*:after,
*:before {
	box-sizing: inherit;
}

.container {
	@include outer-container($container-width);
	margin: auto;
	position: relative;
	@include media(max-width 1024px) {
		padding: 0 30px;
	}
	@include media(max-width 480px) {
		padding: 0 20px;
	}

}



.title {
	font-size: 9rem;
	color: gold;
	text-transform: uppercase;
	letter-spacing: 10px;
	font-weight: 500;
}

.subtitle {
	font-size: 4rem;
	letter-spacing: .5px;
	color: $primary-color;
}

//helper for vertical aligning
.alignMiddle {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.btn {
	cursor: pointer;
	outline: none;
	border: none;
	height: 36px;
    line-height: 36px;
    padding: 0 2rem;
    text-transform: uppercase;
	&_primary {
		background: #00BFB2;
		color: $secondary-color;
		font-weight: 600;
		@include shadow();
	}
}