header {
   
    background: url('../img/mainBG.jpg') no-repeat center center / cover;
    height: 100vh;
    position: relative;
    .container {
        height: 100%;
    }

    nav {
        @include clearfix();
        width: 100%;
        padding-top: 2rem;
        position: fixed;
        left: 0;
        background: $primary-color;
        padding: 1.5rem 0;
        z-index: 5;
       

        ul {
            background: $primary-color;
            text-align: center;

            li {
                display: inline-block;
                font-size: 1.7rem;
                margin: 0 2rem;
                cursor: pointer;
            
                a {
                    padding: 0 1rem;
                    color: whitesmoke;
                    font-weight: 500;
                    letter-spacing: 1px;
                    &.active {
                        position: relative;
                        font-weight: 600;
                        &:before {
                            content: '';
                            @include position(absolute, null 0 -3px 0);
                            width: 70px;
                            height: 2px;
                            background: gold;
                        }
                    }
                }
            }
        }
    }

    .textWrapper {
        height: 100%;
        display: table;
        text-align: center;
        position: relative;
        margin: 0 auto;
    }

}

.products {
    height: 700px; 
    background: $secondary-color;
    h2 {
        text-align: center;
        padding: 4rem;
    }

    .row_1 {
        @include outer-container();
        margin: 0 auto;
    }

    .row_2 {
        padding-top: 4rem;
    }

    .card{
        @include span-columns(3);
        height: 250px;
        padding: 0 20px 0 20px;
        margin: 0;
    }
    .inner {
        @include position(relative);
        @include bright-shadow();
        height: 100%;
        cursor: pointer;
        &:hover{
            button {
                @include position(absolute, 50% -48px -50% 48px);
                z-index: 8;
                visibility: visible;
                display: block;
                &:hover {
                    background-color: #2ECAC0;
                }
            }
            &:after {
                @include position(absolute, 0 null 0 null);
                display: block;
                content: '';
                background-color: rgba(0,0,0,0.4);
                z-index: 5;
                height: 100%;
                width: 100%;
            }
        }
        
        button {
            display: none;
        }

        &_1 {
            background: url('../img/design/room1.jpg')  no-repeat center center / cover;
        }
        &_2 {
            background: url('../img/design/room2.jpg')  no-repeat center center / cover;
        }
        &_3 {
            background: url('../img/design/room3.jpg')  no-repeat center center / cover;
        }
        &_4 {
            background: url('../img/design/room4.jpg')  no-repeat center center / cover;
        }
        &_5 {
            background: url('../img/design/room5.jpg')  no-repeat center center / cover;
        }
        &_6 {
            background: url('../img/design/room6.jpg')  no-repeat center center / cover;
        }
        &_7 {
            background: url('../img/design/room7.jpg')  no-repeat center center / cover;
        }
        &_8 {
            background: url('../img/design/room8.jpg')  no-repeat center center / cover;
        }
    }
}

.breakpoint {
    height: 60vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../img/arch2.jpg') no-repeat center center / cover;
    text-align: center;
    border-bottom: 2px solid $secondary-color;
    .container {
        @include clearfix();
        height: 100%;
        position: relative;
    }

    .quote {
        @include position(absolute, 50% null -50% null);
        font-size: 2.5rem;
        display: block;
        color: white;
        font-weight: 400;

    }
}

.aboutUs {
    height: 70vh;
    background: $primary-color;
    h2 {
        color: $secondary-color;
        text-align: center;
        padding: 4rem;
    }
}